# Dictionaries

In [1]:
Ryan = {'ryan':47, 'colin':21, 'maya':16, 'mason':13, 'joel':50, 'ashley': 45, 'dez':4}

In [2]:
type(Ryan)

dict

In [6]:
Ryan

{'ryan': 47,
 'colin': 21,
 'maya': 16,
 'mason': 13,
 'joel': 50,
 'ashley': 45,
 'dez': 4}

In [7]:
list(Ryan)

['ryan', 'colin', 'maya', 'mason', 'joel', 'ashley', 'dez']

In [9]:
Ryan['ryan'] # Find value for 'ryan'

47

In [10]:
for i in Ryan:   # Print the "keys"
    print(i)

ryan
colin
maya
mason
joel
ashley
dez

In [12]:
for i in Ryan:      # Print the "values"
    print(Ryan[i])

47
21
16
13
50
45
4

In [13]:
# Print keys and values

for i in Ryan:
    print(i,Ryan[i])

ryan 47
colin 21
maya 16
mason 13
joel 50
ashley 45
dez 4

In [14]:
for key, values in Ryan.items():
    print(key, values)

ryan 47
colin 21
maya 16
mason 13
joel 50
ashley 45
dez 4

In [15]:
# Keys can have several values for each key

Grades = {'Vrock': [98,95,88,92,67,80], 'Wolfking': [78,88,89,95,78,91]}

In [16]:
Grades

{'Vrock': [98, 95, 88, 92, 67, 80], 'Wolfking': [78, 88, 89, 95, 78, 91]}

In [17]:
for key, values in Grades.items():
    print(key, values)

Vrock [98, 95, 88, 92, 67, 80]
Wolfking [78, 88, 89, 95, 78, 91]

In [18]:
for i in Grades['Wolfking']:
    print(i)

78
88
89
95
78
91

In [19]:
for i in Grades:
    print (i, Grades[i])

Vrock [98, 95, 88, 92, 67, 80]
Wolfking [78, 88, 89, 95, 78, 91]

In [20]:
for i in Grades:
    for j in Grades[i]:
        print(i,j)

Vrock 98
Vrock 95
Vrock 88
Vrock 92
Vrock 67
Vrock 80
Wolfking 78
Wolfking 88
Wolfking 89
Wolfking 95
Wolfking 78
Wolfking 91

# Adding Items to Dictionary

In [28]:
Grades['Mickey Ratt'] = [67,89,90,87]   # Adds Mickey Ratt to Student List in "Grades" Dictionary

In [27]:
Grades

{'Vrock': [98, 95, 88, 92, 67, 80],
 'Wolfking': [78, 88, 89, 95, 78, 91],
 'Mickey Ratt': [67, 89, 90, 87]}

# Dictionary Methods

In [31]:
Grades.get('Wolfking')

[78, 88, 89, 95, 78, 91]

In [32]:
Grades.pop('Vrock')

[98, 95, 88, 92, 67, 80]

In [33]:
Grades

{'Wolfking': [78, 88, 89, 95, 78, 91], 'Mickey Ratt': [67, 89, 90, 87]}

In [34]:
len(Grades)

2

In [35]:
len(Grades['Wolfking'])

6

In [36]:
for i in Grades:
    print(i,len(Grades[i]))

Wolfking 6
Mickey Ratt 4

In [37]:
del Grades['Mickey Ratt']
Grades

{'Wolfking': [78, 88, 89, 95, 78, 91]}

# Nested Dictionaries

In [6]:
Bands = {'Def Leppard': {'Pyromania':83, 'Hysteria' : 87, 'Adrenalize':92, 'Retroactive':93, 'Slang':96},
         'Kiss':        {'Revenge':92, 'Psycho Circus' : 97, 'Hotter Than Hell':81, 'Crazy Nights':88, 'Lick it Up':83},
         'Motley Crue': {'Girls, Girls, Girls':87, 'Dr. Feelgood' : 89, 'Theater of Pain':85, 'Decade of Decadence':91, 'Generation Swine':97},   
         'Poison':      {'Flesh n Blood':89, 'Crack a Smile' : 99, 'Hollyweird':2001, 'Look What the Cat Dragged In':87}
        }

In [14]:
for i in Bands:
    print(Bands[i])

{'Pyromania': 83, 'Hysteria': 87, 'Adrenalize': 92, 'Retroactive': 93, 'Slang': 96}
{'Revenge': 92, 'Psycho Circus': 97, 'Hotter Than Hell': 81, 'Crazy Nights': 88, 'Lick it Up': 83}
{'Girls, Girls, Girls': 87, 'Dr. Feelgood': 89, 'Theater of Pain': 85, 'Decade of Decadence': 91, 'Generation Swine': 97}
{'Flesh n Blood': 89, 'Crack a Smile': 99, 'Hollyweird': 2001, 'Look What the Cat Dragged In': 87}

In [27]:
Bands['Kiss']

{'Revenge': 92,
 'Psycho Circus': 97,
 'Hotter Than Hell': 81,
 'Crazy Nights': 88,
 'Lick it Up': 83}

In [57]:
for  i in Bands:
    for j in Bands[i]:
       print((j))

Pyromania
Hysteria
Adrenalize
Retroactive
Slang
Revenge
Psycho Circus
Hotter Than Hell
Crazy Nights
Lick it Up
Girls, Girls, Girls
Dr. Feelgood
Theater of Pain
Decade of Decadence
Generation Swine
Flesh n Blood
Crack a Smile
Hollyweird
Look What the Cat Dragged In

In [34]:
Albums = []
for j in Bands ['Def Leppard']:
    Albums.append(j)

In [66]:
Albums

['Pyromania', 'Hysteria', 'Adrenalize', 'Retroactive', 'Slang']

In [103]:
Student = { 'John'  : {'algebra':98, 'physics':95, 'english':88, 'stats':96, 'finance':85},
            'Jenna' : {'algebra':81, 'physics':90, 'english':79, 'stats':65, 'finance':45},
            'Max'   : {'algebra':87, 'physics':67, 'english':99, 'stats':84, 'finance':79},
            'Jenfa' : {'algebra':81, 'physics':85, 'english':79, 'stats':93, 'finance':90}
          }

In [104]:
Student

{'John': {'algebra': 98,
  'physics': 95,
  'english': 88,
  'stats': 96,
  'finance': 85},
 'Jenna': {'algebra': 81,
  'physics': 90,
  'english': 79,
  'stats': 65,
  'finance': 45},
 'Max': {'algebra': 87,
  'physics': 67,
  'english': 99,
  'stats': 84,
  'finance': 79},
 'Jenfa': {'algebra': 81,
  'physics': 85,
  'english': 79,
  'stats': 93,
  'finance': 90}}

In [105]:
Student['John']['physics']

95

In [75]:
Grades = []

In [80]:
type(Grades)

list

In [115]:
Subject = []                # Let's find the highest grade in each subject by any of the 4 students

for j in Student['John']:   # Subject will be all of the "subject names" which come from "Jenna"
    Subject.append(j)
for i in Subject:            # Iterate through "Subject"
    Grades = []              # Create a blank list "Grades"
    for j in Student:
        Grades.append(Student[j][i])   #Add "Subject Name" which is [i] and add the "Max Grade" to Grades list.
    print(i,max(Grades))            # Print the "Subject Name" and the Highest Grade in "Grades"

algebra 98
physics 95
english 99
stats 96
finance 90

In [110]:
Subject

['algebra', 'physics', 'english', 'stats', 'finance']

In [111]:
Student[j]

{'algebra': 81, 'physics': 85, 'english': 79, 'stats': 93, 'finance': 90}

In [96]:
Bands

{'Def Leppard': {'Pyromania': 83,
  'Hysteria': 87,
  'Adrenalize': 92,
  'Retroactive': 93,
  'Slang': 96},
 'Kiss': {'Revenge': 92,
  'Psycho Circus': 97,
  'Hotter Than Hell': 81,
  'Crazy Nights': 88,
  'Lick it Up': 83},
 'Motley Crue': {'Girls, Girls, Girls': 87,
  'Dr. Feelgood': 89,
  'Theater of Pain': 85,
  'Decade of Decadence': 91,
  'Generation Swine': 97},
 'Poison': {'Flesh n Blood': 89,
  'Crack a Smile': 99,
  'Hollyweird': 2001,
  'Look What the Cat Dragged In': 87}}

In [131]:
print(Student)

{'John': {'algebra': 98, 'physics': 95, 'english': 88, 'stats': 96, 'finance': 85}, 'Jenna': {'algebra': 81, 'physics': 90, 'english': 79, 'stats': 65, 'finance': 45}, 'Max': {'algebra': 87, 'physics': 67, 'english': 99, 'stats': 84, 'finance': 79}, 'Jenfa': {'algebra': 81, 'physics': 85, 'english': 79, 'stats': 93, 'finance': 90}}

In [142]:
Subject = []                # Let's find the highest grade in each subject by any of the 4 students

for i in Student['John']:   # Subject will be all of the ***KEYS*** "subject names" which come from "John"
    Subject.append(i)
        
for j in Subject:            # Iterate through "Subjects" KEYS
    Grades = []              # Create a blank list "Grades"
    
    for i in Student:
        Grades.append(Student[i][j])   #Add "Subject Name" which is [i] and add the "Max Grade" to Grades list.
    print(j,Grades)            # Print the "Subject Name" and the Highest Grade in "Grades"

algebra [98, 81, 87, 81]
physics [95, 90, 67, 85]
english [88, 79, 99, 79]
stats [96, 65, 84, 93]
finance [85, 45, 79, 90]

In [144]:
Subject = []                # Let's find the highest grade in each subject by any of the 4 students

for i in Student['John']:   # Subject will be all of the ***KEYS*** "subject names" which come from "John"
    Subject.append(i)
        
for j in Subject:            # Iterate through "Subjects" KEYS
    Grades = []              # Create a blank list "Grades"
    
    for i in Student:
        Grades.append(Student[i][j])   #Add "Subject Name" which is [i] and add the "Max Grade" to Grades list.
    print(i,max(Grades))            # Print the "Subject Name" and the Highest Grade in "Grades"

Jenfa 98
Jenfa 95
Jenfa 99
Jenfa 96
Jenfa 90

In [140]:
print(j,max(Grades))

finance 90

In [141]:
print(i,max(Grades))

Jenfa 90

In [124]:
dogs

str

In [123]:
cats

'finance'

In [137]:
Grades[:]

[85, 45, 79, 90]

In [122]:
Subject            # Subject has all the KEYS from JOHN

['algebra', 'physics', 'english', 'stats', 'finance']

In [145]:
Subject = []                # Let's find the highest grade in each subject by any of the 4 students

for j in Student['John']:   # Subject will be all of the "subject names" which come from "Jenna"
    Subject.append(j)
for i in Subject:            # Iterate through "Subject"
    Grades = []              # Create a blank list "Grades"
    for j in Student:
        Grades.append(Student[j][i])   #Add "Subject Name" which is [i] and add the "Max Grade" to Grades list.
    print(i,max(Grades))            # Print the "Subject Name" and the Highest Grade in "Grades"

algebra 98
physics 95
english 99
stats 96
finance 90

In [ ]:
Student = { 'John'  : {'algebra':98, 'physics':95, 'english':88, 'stats':96, 'finance':85},
            'Jenna' : {'algebra':81, 'physics':90, 'english':79, 'stats':65, 'finance':45},
            'Max'   : {'algebra':87, 'physics':67, 'english':99, 'stats':84, 'finance':79},
            'Jenfa' : {'algebra':81, 'physics':85, 'english':79, 'stats':93, 'finance':90}
          }

In [152]:
for i in Student:
    print(i,Student[i])

John {'algebra': 98, 'physics': 95, 'english': 88, 'stats': 96, 'finance': 85}
Jenna {'algebra': 81, 'physics': 90, 'english': 79, 'stats': 65, 'finance': 45}
Max {'algebra': 87, 'physics': 67, 'english': 99, 'stats': 84, 'finance': 79}
Jenfa {'algebra': 81, 'physics': 85, 'english': 79, 'stats': 93, 'finance': 90}

In [154]:
for i in Student:
    print(i,Student[i]['stats'])

John 96
Jenna 65
Max 84
Jenfa 93

In [147]:
for i in Student:
    print(i)

John
Jenna
Max
Jenfa

In [164]:
for i in Student:
    print(Student[i])

{'algebra': 98, 'physics': 95, 'english': 88, 'stats': 96, 'finance': 85}
{'algebra': 81, 'physics': 90, 'english': 79, 'stats': 65, 'finance': 45}
{'algebra': 87, 'physics': 67, 'english': 99, 'stats': 84, 'finance': 79}
{'algebra': 81, 'physics': 85, 'english': 79, 'stats': 93, 'finance': 90}

In [148]:
type(Student)

dict

In [155]:
Student['John']['algebra']

98

In [165]:
for i in Student:
    for j in Student[i]:
        print(j)              # Prints out the KEYS in Student[i] because KEYS in [i] would be the Student Names

algebra
physics
english
stats
finance
algebra
physics
english
stats
finance
algebra
physics
english
stats
finance
algebra
physics
english
stats
finance

In [158]:
# We can take the above and put into a list "Subjects"

Subjects = []
for j in Student['John']:
    Subjects.append(j)

In [159]:
Subjects

['algebra', 'physics', 'english', 'stats', 'finance']

In [170]:

#Grades = []
for i in Subjects:
    for j in Student:
        print(Student[j][i])   #output 1st 4 rows 'algebra', next 4 rows 'physics', next 4 rows "english", etc etc

98
81
87
81
95
90
67
85
88
79
99
79
96
65
84
93
85
45
79
90

In [171]:
# Printing out the max Grade by each KEY of "Subjects"

for i in Subjects:
    Grades = []
    for j in Student:
        Grades.append(Student[j][i])
    print(i,max(Grades))

algebra 98
physics 95
english 99
stats 96
finance 90

In [172]:
print(Student[j][i])

90

In [174]:
print(Student[j])

{'algebra': 81, 'physics': 85, 'english': 79, 'stats': 93, 'finance': 90}