In [18]:
mydict = {"1":'ryanomite', '2':'animalize', '3':'hercules'}
mydict

{'1': 'ryanomite', '2': 'animalize', '3': 'hercules'}

# Dict()   dictionary function

In [4]:
newdict = dict(mydict)

ryan = dict()   # creates an empty dictionary
newdict

{'1': 'ryanomite', '2': 'animalize', '3': 'hercules'}

# Nested Dictionaries

In [11]:
NestedDict = {'Family Member':{'Mason':{'Age':'13', 'Height':'66', 'Hair':'Brown'},
                               'Ryan':{'Age':'47', 'Height':'72', 'Hair':'Ash Blonde' }}}

In [42]:
NestedDict

{'Family Member': {'Mason': {'Age': '13', 'Height': '66', 'Hair': 'Brown'},
  'Ryan': {'Age': '47', 'Height': '72', 'Hair': 'Ash Blonde'}}}

In [19]:
mydict['1']

'ryanomite'

In [20]:
print(NestedDict.keys())

dict_keys(['Family Member'])

In [21]:
print(mydict.keys())  # Keys() grabs all the keys

dict_keys(['1', '2', '3'])

In [22]:
print(mydict.values())     # Values() grabs all the values

dict_values(['ryanomite', 'animalize', 'hercules'])

In [23]:
print(mydict.get('1'))     # Get() allows you to specify a key and gets its "value"

ryanomite

In [25]:
for x in mydict:
    print(x + "  YO YO YO")

1  YO YO YO
2  YO YO YO
3  YO YO YO

In [26]:
for x in mydict.values():
    print(x)

ryanomite
animalize
hercules

In [27]:
for x,y in mydict.items():   # x represents "keys" and y represents "values"
    print(x,y)

1 ryanomite
2 animalize
3 hercules

In [28]:
x

'3'

# Updating

In [33]:
mydict['ryanomite'] = '001'

In [35]:
mydict['sebastian'] = '1'

In [32]:
type(mydict)

dict

In [36]:
mydict

{'1': 'ryanomite',
 '2': 'animalize',
 '3': 'hercules',
 'ryanomite': '001',
 'sebastian': '1'}

# Deleting

In [37]:
mydict.pop('ryanomite')

'001'

In [39]:
mydict.popitem()

('sebastian', '1')

In [40]:
del mydict['1']

In [41]:
mydict

{'2': 'animalize', '3': 'hercules'}

# Dictionary to Dataframe

In [43]:
import pandas as pd
df = pd.DataFrame(NestedDict['Family Member'])

In [44]:
df

        Mason        Ryan
Age        13          47
Height     66          72
Hair    Brown  Ash Blonde