# Sets

In [5]:
# Our Set definition
# Sets do not allow any duplicate values

RyanSet = {True, 'dogs', 'building', 65.43, 64.26, '65.3234', False, 0, 1, 2348392}

In [3]:
RyanSet
# 0 and 1 get removed because True and False are boolean values with 1 and 0 as default values.

{2348392, 64.26, '65.3234', 65.43, False, True, 'building', 'dogs'}

In [4]:
type(RyanSet)

set

In [6]:
# You can convert a list into a Set by using the "Set" operator

# A List will accept any values, even duplicates.

List1 = [43, 434, 342, 90243, 'cool', 'digby', False]

In [7]:
set(List1)

{342, 43, 434, 90243, False, 'cool', 'digby'}

In [8]:
type(List1)

list

In [10]:
C = set(List1)

In [11]:
type(C)

set

In [12]:
for i in C:
    print(i)

False
90243
cool
43
digby
434
342

In [13]:
C.pop()

False

In [14]:
C.add(5234)

In [15]:
C

{342, 43, 434, 5234, 90243, 'cool', 'digby'}

In [18]:
len(C)

7

In [19]:
ST = {1,343,645,7634,354, 4, 'a','n'}

In [20]:
len(ST)

8

In [21]:
ST.add(34343)

In [22]:
ST

{1, 343, 34343, 354, 4, 645, 7634, 'a', 'n'}

In [23]:
ST.update([89809, 34999, 134])

In [24]:
ST

{1, 134, 343, 34343, 34999, 354, 4, 645, 7634, 89809, 'a', 'n'}

In [25]:
#Lets add a set to a set

ST.update({"harris", False, "LEPPARD"})

In [26]:
ST

{1,
 134,
 343,
 34343,
 34999,
 354,
 4,
 645,
 7634,
 89809,
 False,
 'LEPPARD',
 'a',
 'harris',
 'n'}

In [29]:
for i in ST:
    print(i)

False
1
354
n
4
645
a
34343
134
LEPPARD
harris
89809
7634
343
34999

In [32]:
ST.remove({354, 'harris'})

KeyError: {354, 'harris'}

In [34]:
ST.remove(343)

In [35]:
ST

{1,
 134,
 34343,
 34999,
 354,
 4,
 645,
 7634,
 89809,
 False,
 'LEPPARD',
 'a',
 'harris',
 'n'}

In [36]:
ST.pop()

False

In [37]:
ST.pop()

1

In [38]:
A = {'dog', 'coke', 'pepsi', 76,243,909,5875}
B = {'dog', 'cat', 76, 343782, 23422, 99349, 3993, False}

In [40]:
print(A)
print(B)

{'pepsi', 243, 5875, 'dog', 'coke', 909, 76}
{False, 343782, 'cat', 76, 99349, 3993, 'dog', 23422}

In [41]:
A.union(B)

{23422,
 243,
 343782,
 3993,
 5875,
 76,
 909,
 99349,
 False,
 'cat',
 'coke',
 'dog',
 'pepsi'}

In [42]:
A

{243, 5875, 76, 909, 'coke', 'dog', 'pepsi'}

In [43]:
A - B

{243, 5875, 909, 'coke', 'pepsi'}

In [44]:
B - A

{23422, 343782, 3993, 99349, False, 'cat'}

In [45]:
# ^ Caret will return all non common elements between 2 sets
A^B

{23422, 243, 343782, 3993, 5875, 909, 99349, False, 'cat', 'coke', 'pepsi'}

In [46]:
B.intersection(A)

{76, 'dog'}