In [1]:
i=0
while(i<5):
    print("sup dawg")
    i = i + 1

sup dawg
sup dawg
sup dawg
sup dawg
sup dawg

In [2]:
i=0
while(i<5):
    print(i)
    i = i + 1

0
1
2
3
4

In [1]:
i = 0
while (i < 5):
    print(i)
    i = i + 2

0
2
4

In [2]:
i = 0
j = 0
while (i + j < 10):
    print (i, j)
    i = i + 1
    j = j + 2

0 0
1 2
2 4
3 6

In [3]:
x = 1
for i in range(0,5):
    print(x)

1
1
1
1
1

In [4]:
x = 1
for i in range(0,5):
    print(x+i)
# 0+1, 1+1, 2+1, 3+1, 4+1 (i is first and x is 2nd)

1
2
3
4
5

 # Factorial of a Number

In [5]:
# A Factorial example 5 = 5*4*3*2*1

x = 1
for i in range(1,6):
    x = x * i
print(x)

120

In [6]:
x = 10
for i in range(0,5):
    x = x-1
    print(i,x)

0 9
1 8
2 7
3 6
4 5

In [7]:
y = int(input("Please enter a number to calculate the factorial:"))
x = 1
for i in range(1,y+1):   #Setting up our range input # + 1  ex: if 6 typed, range becomes (1,7)
    x = x * i # 1*1, 2*1, 3*2, 4*6, etc...
    print("i value = " + str(i) + " x value = " + str(x))

Please enter a number to calculate the factorial:5
i value = 1 x value = 1
i value = 2 x value = 2
i value = 3 x value = 6
i value = 4 x value = 24
i value = 5 x value = 120

In [9]:
List2 = ["Black", "White", "Blue", "Red", 30, 50, 60]

In [10]:
List2

['Black', 'White', 'Blue', 'Red', 30, 50, 60]

In [11]:
for i in range(0,6):
    print(List2[2])

Blue
Blue
Blue
Blue
Blue
Blue

In [12]:
for i in range(0,len(List2)):
    print(List2[i])

Black
White
Blue
Red
30
50
60